/* Developer: Leo Brandenburg */

/* rote Trennlinie */
hr.own-hr
{
    height: 5px; 
    margin: 0 auto;
    color: blue;
    background: #ff0000;
}

/* Optik div-Container */
div.own-box
{
	max-width: 1113px;
	padding: 20px;
	box-shadow: 0px 2px 5px #ccc;
	border: 1px solid #888;
	background-color: #F8F8FF;
}

/* Optik div-Container Adminseite */
div.own-box-admin
{
	max-width: 1400px;
	padding: 20px;
	box-shadow: 0px 2px 5px #ccc;
	border: 1px solid #888;
	background-color: #F8F8FF;
}

/* Tabelle zentrieren, auch möglich mit class="center", aber zusätzliche Implementierung, um nicht jedesmal class="center" schreiben zu müssen */
th, td
{
	text-align: center;
}

/* own modal-width */
@media (min-width: 1113px) {
  .modal-lg {
    width: 1113px !important;
  }
}

/* added because of <div> in viewReports - using <a> was not possible because links in commentBox */
.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}