<!-- Developer: Leo Brandenburg -->

<!DOCTYPE html>
<html>
	<head>
		<title id="CreateNewReport" class="trans-innerHTML">Create a new report</title>
		<meta charset="utf-8">
		<meta name="author" content="Leo Brandenburg">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="img/logo.png">

		<!-- JavaScript -->
		<script src="https://www.google.com/jsapi"></script>
		<script src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> <!-- jQuery -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script> <!-- AngularJS -->
		<script src="js/angular-daterangepicker.min.js"></script> <!-- RealTime-Änderung der Klassen -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> <!-- DatePicker -->
		<script src="js/daterangepicker_edited.min.js"></script> <!-- DatePicker -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script> <!-- DatePicker -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.5/angular-messages.min.js"></script> <!-- RealTime-Änderung der Klassen -->
		<!-- <script src="js/jquery.dd.min.js"></script> <!-- Länder-Flaggen -->
		<script src="js/general.js"></script> <!-- alles eigene -->
		<script src="js/createReport.js"></script> <!-- alles eigene -->
		<script src="sceditor/minified/jquery.sceditor.bbcode.min.js"></script> <!-- BB-Codes -->
		<!-- <script src="sceditor/languages/de.js"></script> <!-- Sprache für SCEditor -->
		<script src="js/fileinput.min.js"></script> <!-- FileInput v4.4.6-11 -->

		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> <!-- Bootstrap -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css"> <!-- DatePicker nebeneinander -->
		<link rel="stylesheet" href="sceditor/minified/themes/default.min.css" /> <!-- BB-Codes -->
		<!-- <link rel="stylesheet" href="css/msdropdown.min.css" /> <!-- Länder-Flaggen -->
		<link rel="stylesheet" href="css/fileinput.min.css" /> <!-- FileInput v4.4.6-11 -->
		<link rel="stylesheet" href="css/own.css"> <!-- alles eigene -->
	</head>
	<body ng-app="MyApp" ng-controller="angModCreateReport">
		<div class="jumbotron center-block own-box text-center">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<a href="./?createReport"><img src="img/logo.png" width="100px" height="100px" /></a>
				</div>
				<div class="col-md-3 text-right">
					<form method="post" action="">
						<a data-toggle="modal" data-target="#modalProfile" class="btn btn-primary" onclick="modifyModalProfile();">
							<span class="glyphicon glyphicon-user"></span> <span id="Profile" class="trans-innerHTML">Profile</span>
						</a>
						<button type="submit" name="logout" class="btn btn-danger">
							<span class="glyphicon glyphicon-log-out"></span> <span id="Logout" class="trans-innerHTML">Logout</span>
						</button>
					</form>
				</div>
			</div>
			<hr class="own-hr" />
			<h2 id="CreateNewReport" class="trans-innerHTML">Create a new report</h2>
			<div class="row">
				<div class="col-md-9"></div>
				<div class="col-md-3">
					<div class="form-group">
						<select class="form-control" id="language" onchange="changeLanguage(this.selectedIndex);"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="center-block own-box">
			<noscript>Please activate JavaScript</noscript>
			<form method="post" action="." name="formCreateReport" class="form-horizontal" onsubmit="return checkInputFormCreateReport()" enctype="multipart/form-data">
				<div class="form-group" id="div-ReportName" ng-class="{'has-error': formCreateReport.ReportName.$invalid, 'has-success': formCreateReport.ReportName.$valid}">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
						<input class="form-control trans-placeholder" name="ReportName" id="ReportName" ng-model="ReportName" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-ReportName', true)" maxlength="255" placeholder="Title of report*" autofocus required />
						<span class="input-group-addon">
							<a name="ToolTipReportName" data-toggle="tooltip" data-placement="top" title="Please enter a title for your report." class="trans-name-title">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-NickName" ng-class="{'has-error': formCreateReport.NickName.$invalid, 'has-success': formCreateReport.NickName.$valid}">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input class="form-control trans-placeholder" name="NickName" id="NickName" ng-model="NickName" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-NickName', true)" maxlength="255" placeholder="NickName (author of report)*" ng-required="{{true" />
						<span class="input-group-addon">
							<a name="ToolTipNickName" data-toggle="tooltip" data-placement="top" title="Please enter a NickName. The NickName will be shown as author of your report." class="trans-name-title">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<!-- Reiseland -->
				<!-- http://www.toolzzz.net/de/countrySelect.htm -->
				<!-- https://restcountries.eu/ -->
				<div class="form-group" id="div-Country">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
						<select class="form-control" id="dropDownListCountries" ng-required="{{true" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Country', true)" onchange="checkInputAndChangeClassOfDiv(this.id, 'div-Country', true)">
						</select>
						<span class="input-group-addon">
							<a name="ToolTipDestinationCountry" data-toggle="tooltip" data-placement="top" title="Please select your destination-country." class="trans-name-title">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group hide" id="div-City" ng-class="{'has-error': formCreateReport.City.$invalid, 'has-success': formCreateReport.City.$valid}"> <!-- ng-show="Country" -->
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
						<input class="form-control trans-placeholder" name="City" id="Input_City" ng-model="City" list="dataListCity" ng-required="{{true" maxlength="255" placeholder="Destination-City*" />
						<datalist id="dataListCity">
						</datalist>
						<span class="input-group-addon">
							<a name="ToolTipDestinationCity" data-toggle="tooltip" data-placement="top" title="Please enter your destination-city." class="trans-name-title">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<!-- http://simplemaps.com/resources/world-cities-data -->
				<!-- City -->
				<!-- http://www.freeformatter.com/iso-country-list-html-select.html -->
				<!-- http://www.daterangepicker.com/ -->
				<!-- Reisezeitraum -->
				<div class="form-group" id="div-Date" ng-class="{'has-error': formCreateReport.DateRange.$invalid, 'has-success': formCreateReport.DateRange.$valid}">
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<!-- http://html5pattern.com/Dates -->
						<!-- mit Substring in PHP auswerten: http://php.net/manual/de/function.substr.php -->
						<!-- pattern nicht notwendig, wenn readonly; readonly -> no required -->
						<!-- http://fragaria.github.io/angular-daterangepicker/ -->
						<input class="form-control trans-placeholder" style="background: white;" name="daterange" id="daterange" ng-model="DateRange" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Date', true)" placeholder="Travel-Period*" readonly />
						<span class="input-group-addon">
							<a name="ToolTipDateRange" data-toggle="tooltip" data-placement="top" title="Please select startdate and enddate of your travel." class="trans-name-title">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-Highlight" ng-class="{'has-error': formCreateReport.Highlight.$invalid, 'has-success': formCreateReport.Highlight.$valid}">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
						<input class="form-control trans-placeholder" name="Highlight" id="Input_Highlight" ng-model="Highlight" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Highlight', true)" ng-required="{{true" ngMinlength="1" maxlength="255" placeholder="Your personal highlights*" />
						<span class="input-group-addon">
							<a name="ToolTipHighlight" data-toggle="tooltip" data-placement="top" title="Please enter your personal highlights." class="trans-name-title">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-Attention" ng-class="{'has-error': formCreateReport.Attention.$invalid, 'has-success': formCreateReport.Attention.$valid}">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-warning-sign"></i></span>
						<input class="form-control trans-placeholder" name="Attention" id="Input_Attention" ng-model="Attention" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Attention', true)" ng-required="{{true" maxlength="255" placeholder="What must be considered?*" />
						<span class="input-group-addon">
							<a name="Input_Attention" data-toggle="tooltip" data-placement="top" title="What must be considered?" class="trans-name-title">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-Lecture" ng-class="{'has-error': formCreateReport.Lecture.$invalid, 'has-success': formCreateReport.Lecture.$valid}">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
						<input class="form-control trans-placeholder" name="Lecture" id="Lecture" ng-model="Lecture" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Lecture', false)" onkeyup="checkInputAndChangeClassOfDiv(this.id, 'div-Lecture', false)" maxlength="255" placeholder="Attended lectures" />
						<span class="input-group-addon">
							<a name="ToolTipLecture" data-toggle="tooltip" data-placement="top" title="Please enter your attended lectures." class="trans-name-title">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-Internship" ng-class="{'has-error': formCreateReport.Internship.$invalid, 'has-success': formCreateReport.Internship.$valid}">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
						<input class="form-control trans-placeholder" name="Internship" id="Internship" ng-model="Internship" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Internship', false)" onkeyup="checkInputAndChangeClassOfDiv(this.id, 'div-Internship', false)" maxlength="255" placeholder="Attended internships" />
						<span class="input-group-addon">
							<a name="ToolTipInternship" data-toggle="tooltip" data-placement="top" title="Please enter your attended internship." class="trans-name-title">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group">
					<input id="FileInputUploadTitle" name="FileInputUploadTitle[]" type="file" class="file-loading trans-upload-placeholder" data-msg-placeholder="Select an title-picture for your report" />
				</div>
				<div class="form-group">
					<input id="FileInputUploadGallery" name="FileInputUploadGallery[]" type="file" class="file-loading trans-upload-placeholder" data-msg-placeholder="Select pictures for your picture-gallery (max. 20 pictures)" multiple />
				</div>
				<div id="form-required" class="trans-innerHTML">
					*) required
				</div>
				<br/>
				<div  class="form-group">
					<label id="LabelCommentBox" class="trans-innerHTML">Comment-Box - enough space for you to share with us more details <img src="sceditor/emoticons/wink.png" /></label>
					<!-- placeholder does not work with sceditor -> reason: they implemented a fake-div -->
					<textarea id="textarea_textreport" class="form-control" style="width: 100px; height: 350px" name="textreport"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> <span id="UploadReport" class="trans-innerHTML">Upload report</span>
					</button>
				</div>
			</form>
		</div>
		<!-- Modal-Textbox Kommentarbox -->
		<div class="modal fade" id="modal_textarea_textreport" tabindex="-1" role="dialog" aria-labelledby="modal_textarea_textreport_ThisIsTheHeadline">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="focus_textarea_textreport()"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<span id="FillCommentBox" class="trans-innerHTML">Please fill in the comment-box. <img src="sceditor/emoticons/smile.png" /></span>
					</div>
					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-warning" data-dismiss="modal" onclick="focus_textarea_textreport()">
								<span class="glyphicon glyphicon glyphicon-thumbs-up"></span> <span id="IWillDoIt" class="trans-innerHTML">Ok, I will do it.</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal-Profile -->
		<div class="modal fade" id="modalProfile" role="dialog" aria-labelledby="Profile">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<form method="post" action="" id="formModalProfile" name="formModalProfile" onsubmit="return checkInputFormModalProfile()">
						<div class="modal-header">
							<!-- <button type="button" ng-click="ownReset(formModalProfile)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
							<h4 class="modal-title trans-innerHTML" id="Profile">Profile</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-9"></div>
								<div class="col-md-3">
									<div class="form-group">
										<select class="form-control" id="languageModal" onchange="changeLanguage(this.selectedIndex);"></select>
									</div>
								</div>
							</div>
							<div class="form-group" id="modal-div-Email" ng-class="{'has-error': formModalProfile.modalEmail.$invalid && formModalProfile.modalEmail.$touched , 'has-success': formModalProfile.modalEmail.$valid && formModalProfile.modalEmail.$touched}">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									<input class="form-control trans-placeholder" name="modalEmail" id="modalEmail" ng-model="modalEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter your e-mail address" autofocus maxlength="255" />
									<span class="input-group-addon">
										<a name="ToolTipModalEmail" data-toggle="tooltip" data-placement="top" title="Please enter your e-mail address." class="trans-name-title">
											<i class="glyphicon glyphicon-question-sign"></i>
										</a>
									</span>
								</div>
							</div>
							<div class="form-group">
								<button id="modalButtonEditPw" type="button" class="btn btn-info" onclick="buttonChangePassword();">
									<span class="glyphicon glyphicon-pencil"></span> <span id="ChangePassword" class="trans-innerHTML">Change Password</span>
								</button>
							</div>
							<div id="div-changePw" class="hide">
								<div class="form-group">
									<button id="modalButtonEditPwCancel" type="button" class="btn btn-info" onclick="buttonChangePasswordCancel();">
										<span class="glyphicon glyphicon-remove"></span> <span id="Cancel" class="trans-innerHTML">Cancel</span>
									</button>
								</div>
								<div class="form-group" id="modal-div-OldPw">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
										<input type="password" class="form-control trans-placeholder" name="modalOldPw" id="modalOldPw" ng-model="modalOldPw" onblur="inputNotEmpty(this.id, 'modal-div-OldPw')" onkeyup="inputNotEmpty(this.id, 'modal-div-OldPw')" maxlength="255" placeholder="Old password" />
										<span class="input-group-addon">
											<a name="ToolTipModalOldPw" data-toggle="tooltip" data-placement="top" title="Please enter your old password." class="trans-name-title">
												<i class="glyphicon glyphicon-question-sign"></i>
											</a>
										</span>
									</div>
								</div>
								<div class="form-group" id="modal-div-NewPw">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
										<input type="password" class="form-control trans-placeholder" name="modalNewPw" id="modalNewPw" ng-model="modalNewPw" maxlength="255" placeholder="New Password" />
										<span class="input-group-addon">
											<a name="ToolTipModalNewPw" data-toggle="tooltip" data-placement="top" title="Please enter your new password." class="trans-name-title">
												<i class="glyphicon glyphicon-question-sign"></i>
											</a>
										</span>
									</div>
								</div>
								<div class="form-group" id="modal-div-NewPwConfirm">
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
										<input type="password" class="form-control trans-placeholder" name="modalNewPwConfirm" id="modalNewPwConfirm" ng-model="modalNewPwConfirm" maxlength="255" placeholder="Confirm new passowrd" />
										<span class="input-group-addon">
											<a name="ToolTipModalNewPwConfirm" data-toggle="tooltip" data-placement="top" title="Please confirm your new password." class="trans-name-title">
												<i class="glyphicon glyphicon-question-sign"></i>
											</a>
										</span>
									</div>
								</div>
							</div>
							<div id='formModalProfile-divSuccess' class="alert alert-success hide trans-innerHTML">
								<b>Success!</b> The profile has been updated successfully.
							</div>
							<div id='formModalProfile-divErrorUpdate' class="alert alert-danger hide trans-innerHTML"> <!-- tritt praktisch nie auf -->
								<b>Error!</b> The profile could not be updated.
							</div>
							<div id='formModalProfile-divErrorWrongPw' class="alert alert-danger hide trans-innerHTML">
								<b>Error!</b> Old password is wrong.
							</div>
							<div id='DivErrorPwNoMatch' class="alert alert-danger hide trans-innerHTML">
								<b>Error!</b> New passwords do not match.
							</div>
							<div id='ErrorDb' class="alert alert-danger hide trans-innerHTML">
								<b>Error!</b> Database is not available.
							</div>
						</div>
						<div class="modal-footer">
							<div class="form-group">
								<button id="modalCancel" type="button" ng-click="ownReset(formModalProfile)" class="btn btn-danger" data-dismiss="modal">
									<span class="glyphicon glyphicon-remove"></span> <span id="Cancel" class="trans-innerHTML">Cancel</span>
								</button>
								<button id="modalSave" type="submit" class="btn btn-success">
									<span class="glyphicon glyphicon-ok"></span> <span id="Confirm" class="trans-innerHTML">Confirm</span>
								</button>
								<button id="modalClose" type="button" ng-click="ownReset(formModalProfile)" class="btn btn-primary hide" data-dismiss="modal">
									<span class="glyphicon glyphicon-ok-sign"></span> <span id="Close" class="trans-innerHTML">Close</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>