<!-- Developer: Leo Brandenburg

ToDo-List (must to have)
- File-Upload (Advanced Usage): http://plugins.krajee.com/file-input/demo

ToDo-List (nice to have):
- lernende City-Datenbank
- Countries-ISO-Datenbank (http://www.teamarbyte.de/mysql-laender.html, https://edoceo.com/notabene/sql-country-codes, https://gist.github.com/adhipg/1600028), manuelles Durchschauen erforderlich
- Webpage fragt vor dem Verlassen, ob wirklich verlassen (Lösung bei Submit...?)
- ng-models trotz einener onkeyup- und onblur-Implementierung notwendig -> Grund: gedown geht nicht, weil alte value -> deswegen keyup -> Optik sieht nicht ganz so schön aus
- else zweige einfügen
- validate all inputs at once
- Dateiupload Bilder: https://www.php-einfach.de/php-tutorial/dateiupload/
-- -> AutoSize http://stackoverflow.com/questions/11089640/dynamically-scale-images-to-fit-a-specified-size-width-and-height
-- -> http://stackoverflow.com/questions/10130915/how-to-auto-resize-uploaded-image-using-php
-- -> http://php.net/manual/de/function.imagecopyresampled.php
- flags für Länder: http://www.marghoobsuleman.com/jquery-image-dropdown

Bug-List:
- Submit Kalender -> Lösung: createReport.js if, else ?

-->

<!DOCTYPE html>
<html>
	<head>
		<title>Reports - Create report</title>
		<meta charset="utf-8">
		<meta name="author" content="Leo Brandenburg">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="img/logo.png">

		<!-- JavaScript -->
		<script src="https://www.google.com/jsapi"></script>
		<script src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> <!-- jQuery -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script> <!-- AngularJS -->
		<script src="js/angular-daterangepicker.min.js"></script> <!-- RealTime-Änderung der Klassen -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> <!-- DatePicker -->
		<script src="js/daterangepicker_edited.min.js"></script> <!-- DatePicker -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.5/angular-messages.min.js"></script> <!-- RealTime-Änderung der Klassen -->
		<!-- <script src="js/jquery.dd.min.js"></script> <!-- Länder-Flaggen -->
		<script src="js/general.js"></script> <!-- alles eigene -->
		<script src="js/createReport.js"></script> <!-- alles eigene -->
		<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> <!-- Übersetzer -->
		<script src="sceditor/minified/jquery.sceditor.bbcode.min.js"></script> <!-- BB-Codes -->
		<script src="js/fileinput.min.js"></script> <!-- FileInput v4.4.6-7 -->

		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> <!-- Bootstrap -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css"> <!-- DatePicker nebeneinander -->
		<link rel="stylesheet" href="sceditor/minified/themes/default.min.css" /> <!-- BB-Codes -->
		<!-- <link rel="stylesheet" href="css/msdropdown.min.css" /> <!-- Länder-Flaggen -->
		<link rel="stylesheet" href="css/fileinput.min.css" /> <!-- FileInput v4.4.6-7 -->
		<link rel="stylesheet" href="css/own.css"> <!-- alles eigene -->
	</head>
	<body ng-app="MyApp" ng-controller="angModCreateReport">
		<div class="jumbotron center-block own-box text-center">
			<div class="pull-right">
				<form method="post" action="">
					<a id="Profile" data-toggle="modal" data-target="#modalProfile" class="btn btn-primary">
						<span class="glyphicon glyphicon-user"></span> Profile
					</a>
					<button type="submit" name="logout" class="btn btn-danger">
						<span class="glyphicon glyphicon-log-out"></span> Logout
					</button>
				</form>
			</div>
			<a href="./?createReport"><img src="img/logo.png" width="100px" height="100px" class="logoSetCenter" /></a>
			<hr class="own-hr" />
			<h2>Create a new report</h2>
			<div id="google_translate_element" style="text-align: right;"> <!-- onclick="sortSelect(this.id)" --></div>
		</div>
		<div class="center-block own-box">
			<noscript>Please activate JavaScript</noscript>
			<form method="post" action="php/savePics.php" name="formCreateReport" class="form-horizontal" onsubmit="return checkInputFormCreateReport()" enctype="multipart/form-data">
				<div class="form-group" id="div-ReportName" ng-class="{'has-error': formCreateReport.ReportName.$invalid, 'has-success': formCreateReport.ReportName.$valid}">
					<label>Title of report</label>
					<div class="input-group" title="Please enter a title for your report.">
						<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
						<input class="form-control" name="ReportName" id="ReportName" ng-model="ReportName" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-ReportName', true)" maxlength="255" autofocus required />
						<span class="input-group-addon">
							<a data-toggle="tooltip" data-placement="top" title="Please enter a title for your report.">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-NickName" ng-class="{'has-error': formCreateReport.NickName.$invalid, 'has-success': formCreateReport.NickName.$valid}">
					<label>NickName (author of report)</label>
					<div class="input-group" title="Please enter a NickName. The NickName will be shown as author of your report.">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input class="form-control" name="NickName" id="NickName" ng-model="NickName" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-NickName', true)" maxlength="255" ng-required="{{true" />
						<span class="input-group-addon">
							<a data-toggle="tooltip" data-placement="top" title="Please enter a NickName. The NickName will be shown as author of your report.">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<!-- Reiseland -->
				<!-- http://www.toolzzz.net/de/countrySelect.htm -->
				<!-- https://restcountries.eu/ -->
				<div class="form-group" id="div-Country">
					<label>Destination-Country</label>
					<div class="input-group" title="Please select your destination-country.">
						<span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
						<select class="form-control notranslate" id="dropDownListCountries" ng-required="{{true" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Country', true)" onchange="checkInputAndChangeClassOfDiv(this.id, 'div-Country', true)">
						</select>
						<span class="input-group-addon">
							<a data-toggle="tooltip" data-placement="top" title="Please select your destination-country.">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group hide" id="div-City" ng-class="{'has-error': formCreateReport.City.$invalid, 'has-success': formCreateReport.City.$valid}"> <!-- ng-show="Country" -->
					<label>Destination-City</label>
					<div class="input-group" title="Please enter your destination-city.">
						<span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
						<input class="form-control" name="City" id="Input_City" ng-model="City" list="dataListCity" ng-required="{{true" maxlength="255" />
						<datalist id="dataListCity">
						</datalist>
						<span class="input-group-addon">
							<a data-toggle="tooltip" data-placement="top" title="Please enter your destination-city.">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<!-- http://simplemaps.com/resources/world-cities-data -->
				<!-- City -->
				<!-- http://www.freeformatter.com/iso-country-list-html-select.html -->
				<!-- http://www.daterangepicker.com/ -->
				<!-- Reisezeitraum -->
				<div class="form-group" id="div-Date" ng-class="{'has-error': formCreateReport.DateRange.$invalid, 'has-success': formCreateReport.DateRange.$valid}">
					<label>Travel-Period</label>
					<div class="input-group" title="Please select startdate and enddate of your travel.">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<!-- http://html5pattern.com/Dates -->
						<!-- mit Substring in PHP auswerten: http://php.net/manual/de/function.substr.php -->
						<!-- pattern nicht notwendig, wenn readonly; readonly -> no required -->
						<!-- http://fragaria.github.io/angular-daterangepicker/ -->
						<input class="form-control" style="background: white;" name="daterange" id="daterange" ng-model="DateRange" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Date', true)" readonly />
						<span class="input-group-addon">
							<a data-toggle="tooltip" data-placement="top" title="Please select startdate and enddate of your travel.">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-Highlight" ng-class="{'has-error': formCreateReport.Highlight.$invalid, 'has-success': formCreateReport.Highlight.$valid}">
					<label>Your personal highlights</label>
					<div class="input-group" title="Please enter your personal highlights.">
						<span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
						<input class="form-control" name="Highlight" id="Input_Highlight" ng-model="Highlight" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Highlight', true)" ng-required="{{true" ngMinlength="1" maxlength="255" />
						<span class="input-group-addon">
							<a data-toggle="tooltip" data-placement="top" title="Please enter your personal highlights.">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-Attention" ng-class="{'has-error': formCreateReport.Attention.$invalid, 'has-success': formCreateReport.Attention.$valid}">
					<label>What must be considered?</label>
					<div class="input-group" title="What must be considered?">
						<span class="input-group-addon"><i class="glyphicon glyphicon-warning-sign"></i></span>
						<input class="form-control" name="Attention" id="Input_Attention" ng-model="Attention" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Attention', true)" ng-required="{{true" maxlength="255" />
						<span class="input-group-addon">
							<a data-toggle="tooltip" data-placement="top" title="What must be considered?">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-Lecture" ng-class="{'has-error': formCreateReport.Lecture.$invalid, 'has-success': formCreateReport.Lecture.$valid}">
					<label>optional: Enter your attended lectures</label>
					<div class="input-group" title="optional: Please enter your attended lectures.">
						<span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
						<input class="form-control" name="Lecture" id="Lecture" ng-model="Lecture" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Lecture', false)" onkeyup="checkInputAndChangeClassOfDiv(this.id, 'div-Lecture', false)" maxlength="255" />
						<span class="input-group-addon">
							<a data-toggle="tooltip" data-placement="top" title="optional: Please enter your attended lectures.">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-Internship" ng-class="{'has-error': formCreateReport.Internship.$invalid, 'has-success': formCreateReport.Internship.$valid}">
					<label>optional: Enter your attended internships</label>
					<div class="input-group" title="optional: Please enter your attended internship.">
						<span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
						<input class="form-control" name="Internship" id="Internship" ng-model="Internship" onblur="checkInputAndChangeClassOfDiv(this.id, 'div-Internship', false)" onkeyup="checkInputAndChangeClassOfDiv(this.id, 'div-Internship', false)" maxlength="255" />
						<span class="input-group-addon">
							<a data-toggle="tooltip" data-placement="top" title="optional: Please enter your attended internship.">
								<i class="glyphicon glyphicon-question-sign"></i>
							</a>
						</span>
					</div>
				</div>
				<div class="form-group" id="div-FileInputUploadAvatar" title="Please select an avatar-picture for your report">
					<label class="control-label">Please select an avatar-picture for your report</label>
					<input id="FileInputUploadAvatar" name="FileInputUploadAvatar[]" type="file" class="file-loading" />
				</div>
				<div class="form-group" title="Please select pictures for your report-gallery (max. 20 pictures)">
					<label class="control-label">Please select pictures for your report-gallery (max. 20 pictures)</label>
					<input id="FileInputUploadGallery" name="FileInputUploadGallery[]" type="file" class="file-loading" multiple />
				</div>
				<br/>
				<div class="form-group" title="Please tell us more. Feel free to share with us more details.">
					<label>Comment-Box - enough space for you to share with us more details <img src="sceditor/emoticons/wink.png" /></label>
					<!-- placeholder does not work with sceditor -> reason: they implemented a fake-div -->
					<textarea id="textarea_textreport" class="form-control" style="width: 100px; height: 350px" name="textreport"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Save report
					</button>
				</div>
			</form>
		</div>
		<!-- Modal-Textbox Kommentarbox -->
		<div class="modal fade" id="modal_textarea_textreport" tabindex="-1" role="dialog" aria-labelledby="modal_textarea_textreport_ThisIsTheHeadline">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="focus_textarea_textreport()"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						Please fill in the comment-box. <img src="sceditor/emoticons/smile.png" />
					</div>
					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-warning" data-dismiss="modal" onclick="focus_textarea_textreport()">
								<span class="glyphicon glyphicon glyphicon-thumbs-up"></span> Ok, I will do it.
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal-Profile -->
		<div class="modal fade" id="modalProfile" role="dialog" aria-labelledby="modalProfileLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<form method="post" action="" id="formModalProfile" name="formModalProfile" onsubmit="return checkInputFormModalProfile()">
						<div class="modal-header">
							<!-- <button type="button" ng-click="ownReset(formModalProfile)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
							<h4 class="modal-title" id="modalProfileLabel">Profile</h4>
						</div>
						<div class="modal-body">
							<div class="form-group" id="modal-div-Email" ng-class="{'has-error': formModalProfile.modalEmail.$invalid && formModalProfile.modalEmail.$touched , 'has-success': formModalProfile.modalEmail.$valid && formModalProfile.modalEmail.$touched}">
								<label>e-mail address:</label>
								<div class="input-group" title="Please enter your e-mail address.">
									<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									<input class="form-control" name="modalEmail" id="modalEmail" ng-model="modalEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter your e-mail address." autofocus maxlength="255" />
									<span class="input-group-addon">
										<a data-toggle="tooltip" data-placement="top" title="Please enter your e-mail address.">
											<i class="glyphicon glyphicon-question-sign"></i>
										</a>
									</span>
								</div>
							</div>
							<div class="form-group">
								<button id="modalButtonEditPw" type="button" class="btn btn-info" onclick="buttonChangePassword();">
									<span class="glyphicon glyphicon-pencil"></span> Change Password
								</button>
							</div>
							<div id="div-changePw" class="hide">
								<div class="form-group">
									<button id="modalButtonEditPwCancel" type="button" class="btn btn-info" onclick="buttonChangePasswordCancel();">
										<span class="glyphicon glyphicon-remove"></span> Abort
									</button>
								</div>
								<div class="row">
									<div class="col-md-2">
										<label>Old password:</label>
									</div>
									<div class="col-md-10">
										<div class="form-group" id="modal-div-OldPw">
											<div class="input-group" title="Please enter your old password.">
												<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
												<input type="password" class="form-control" name="modalOldPw" id="modalOldPw" ng-model="modalOldPw" onblur="inputNotEmpty(this.id, 'modal-div-OldPw')" onkeyup="inputNotEmpty(this.id, 'modal-div-OldPw')" maxlength="255" />
												<span class="input-group-addon">
													<a data-toggle="tooltip" data-placement="top" title="Please enter your old password.">
														<i class="glyphicon glyphicon-question-sign"></i>
													</a>
												</span>
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<label>New password:</label>
									</div>
									<div class="col-md-10">
										<div class="form-group" id="modal-div-NewPw">
											<div class="input-group" title="Please enter a new password.">
												<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
												<input type="password" class="form-control" name="modalNewPw" id="modalNewPw" ng-model="modalNewPw" maxlength="255" />
												<span class="input-group-addon">
													<a data-toggle="tooltip" data-placement="top" title="Please enter a new password.">
														<i class="glyphicon glyphicon-question-sign"></i>
													</a>
												</span>
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<label>Confirm password:</label>
									</div>
									<div class="col-md-10">
										<div class="form-group" id="modal-div-NewPwConfirm">
											<div class="input-group" title="Please confirm your new password.">
												<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
												<input type="password" class="form-control" name="modalNewPwConfirm" id="modalNewPwConfirm" ng-model="modalNewPwConfirm" maxlength="255" />
												<span class="input-group-addon">
													<a data-toggle="tooltip" data-placement="top" title="Please enter confirm your new password.">
														<i class="glyphicon glyphicon-question-sign"></i>
													</a>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id='formModalProfile-divSuccess' class="alert alert-success hide">
								<b>Success!</b> The profile has been updated successfully.
							</div>
							<div id='formModalProfile-divErrorUpdate' class="alert alert-danger hide"> <!-- tritt praktisch nie auf -->
								<b>Error!</b> The profile could not be updated.
							</div>
							<div id='formModalProfile-divErrorWrongPw' class="alert alert-danger hide">
								<b>Error!</b> Old password is wrong.
							</div>
							<div id='formModalProfile-divErrorPwNoMatch' class="alert alert-danger hide">
								<b>Error!</b> New passwords do not match.
							</div>
							<div id='formModalProfile-divErrorDb' class="alert alert-danger hide">
								<b>Error!</b> Database is not available.
							</div>
						</div>
						<div class="modal-footer">
							<div class="form-group">
								<button id="modalCancel" type="button" ng-click="ownReset(formModalProfile)" class="btn btn-danger" data-dismiss="modal">
									<span class="glyphicon glyphicon-remove"></span> Abort
								</button>
								<button id="modalSave" type="submit" class="btn btn-success">
									<span class="glyphicon glyphicon-ok"></span> Confirm
								</button>
								<button id="modalClose" type="button" ng-click="ownReset(formModalProfile)" class="btn btn-primary hide" data-dismiss="modal">
									<span class="glyphicon glyphicon-ok-sign"></span> Close
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>